{
	"server" : 
	{
		"port" : 1222,
		"threads" : 5
	},
	"models" : 
	{
		"english" : "model/engmalt.linear-1.7.mco"
	},
	"lemmatiser" : 
	{
		"path" : "executable",
		"params" : [],
		"name" : "mystem"
	}
}